<html>
  <head>
    <%= render_stylesheet %>
  </head>
  <body>
    <div id="header">
      <%= render_header item %>
    </div>
    <div id="message_content">
      <%= tidyup(item.html) %>
    </div>
  </body>
</html>
