body {
  padding: 0px !important;
  margin: 0px !important;
  background-color: #fff;
}

#header:after {
  content: ".";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}

#header > div:after {
  content: ".";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}

#header {
  font-family: "Lucida Grade", Helvetica !important;
  min-height: 60px !important;
  background-color: #fff !important;
  padding: 6px 6px 6px 6px !important;
  -webkit-user-select: none;
  cursor: default;
  border-bottom: 1px solid #ccc;
}

#header * {
  font-size: 12px;
  line-height: 16px;
}

#header > div > span:nth-child(1) {
  float: left;
  display: block;
  text-align: right;
  padding-right: 10px;
  font-weight: bold;
  color: #808080;
  width: 60px;
}

#header > div > span:nth-child(2):not(.email-address) {
  padding-left: 3px;
  padding-right: 3px;
}

#header > div > .email-address .email {
  padding-left: 3px;
  padding-right: 3px;
}

#header #from .email {
  font-weight: bold;
}

#header .email {
  border: 1px solid #fff;
}

#header .email:hover {
  background-color: #bbcef1;
  border: 1px solid #6d95e0;
 -webkit-box-shadow:inset 0px 1px 0px rgba(255,255,255, .3);
 -webkit-border-radius: 20px;
}

#message_content {
  margin: 6px;
  white-space: normal;
  font-family: "Lucida Grade", Helvetica;
}

#message_content * {
  white-space: normal;
}

body > #attachments {
  margin: 6px;
  font-family: "Lucida Grade", Helvetica;
  font-size: 12px;
}

body > #attachments .attachment_tile {
  border: 1px solid transparent;
  -webkit-border-radius: 4px;
  padding: 4px;
  min-width: 60px;
  float: left;
}

body > #attachments .attachment_tile_selected {
  border: 1px solid #6d95e0;
  -webkit-border-radius: 4px;
  padding: 4px;
  background-color: #bbcef1;
  min-width: 60px;
  float: left;
}

body > #attachments img ~ div {
  margin: 0px auto 0px auto;
  text-align: center;
}

body > #attachments  img {
  margin: 0px auto 0px auto;
  display: block;
}

body > #attachments img:after {
  content: ".";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}

body > #attachments a {
  color: #3b6ec2;
  min-width: 32px;
  display: block;
}

body > #attachments a:after {
  content: ".";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}

body > #attachments a:focus {
  outline: none;
}

body > #attachments a:active {
  color: #3b6ec2;
}

body > #attachments a:visited {
  color: #3b6ec2;
}
